<html lang="en-US">
    <head>
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
        <title>Component</title>
    </head>

    <body>
        <a-scene embedded antialias="true">
            <a-sphere color="red"
            position="-1 2 -5"
            color-component
        ></a-sphere>
        <a-box
            position="2 3 -10"
            color-component
        ></a-box>
        <a-box
           id="box-holder"
           color="green"
        ></a-box>
        <a-sky color="#ECECEC"></a-sky>
        <a-light position="0 10 0" color="white" type="point"></a-light>
    </a-scene>
    </body>
</html>
